<%- include('partials/header') %>

<div class="container d-flex justify-content-end align-items-start h-100">
  <div class="row" style="width: 45%">
    <div>
      <h1 class="display-1 text-white">
        <span class="text-white-50">Welcome to</span> YelpCamp
      </h1>
    </div>
    <div class="row mt-3 justify-content-center">
      <a href="/interviews" style="width: 45%" class="btn btn-outline-light"
        >View all interviews</a
      >
      <a href="/interview/new" style="width: 45%" class="btn btn-outline-light"
        >Schedule an interview</a
      >
    </div>
  </div>
</div>

<%- include('partials/footer') %>
