<%- include('partials/header2') %>

<div class="container">
  <header
    style="background-color: rgba(0, 0, 0, 0.6); color: white"
    class="text-center rounded-pill p-4 m-4"
  >
    <div class="container">
      <h1>Interviews Scheduled</h1>
      <p>Hey, Admin! Here are the interviews scheduled for today</p>
      <a href="/interview/new" class="btn btn-dark">Add New Meeting</a>
    </div>
  </header>
</div>

<%- include('partials/footer') %>
